/*centrados generales*/

* {
    text-align: center;
}

h1 {
    color: blueviolet;
    font-size: 40px;

}

h2 {

    color: red;
    background-color: yellow;

}

h3 {
    color: blue;
    font-size: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;

}

/*Todos los comentarios que necesite*/
button {
    color: white;
    background-color: black;
    border-radius: 10px;
    text-align: center;

}

.titulos {
    color: green;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif
}

#id_pie_pagina_uce {
    color: burlywood;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: blueviolet;
    

}
/*
img[src="https://cdn-icons-png.flaticon.com/512/3239/3239279.png"]{
    width:200px ;
    height: 300px;
}
    */

/*
Quiero discriminar las extenciones
*/
img[src*=".png"]{
    width:200px ;
    height: 300px;
}
input[type="text"]{
    background-color: cornflowerblue;
}
.titulos:hover{
    color:chartreuse;
    background-color: black;

}

/*Combinacion de selectores*/
h1,h3,h5{
    color:red;
    background-color: yellow;
}
